html {
    background-color: #11111a;
}
.body {
    height: 100vh;
    width: 100vw;
}
#root {
    width: 80vh;
    aspect-ratio: 1/1;
    box-shadow: 0 0 10px -3px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #13131c;
}
.field {
    width: calc(80vh / 8);
    aspect-ratio: 1/1;
    float: left;
}
.white {
    background-color: #222233;
}
.figure {
    position: absolute;
    width: calc(80vh / 8);
    aspect-ratio: 1/1;
    background-position: center;
    // background-size: cover;
    cursor: grab;
    transition: background-size 200ms;
    background-size: calc(80vh / 8);
}
.moving {
    z-index: 10;
    background-size: calc((80vh / 8) + 15%);
}
