html {
	background-color: #22222c;
	overflow: hidden;
}
.body {
	height: 100vh;
	width: 100vw;
}
#root {
	width: 80vh;
	aspect-ratio: 1/1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.field {
	position: relative;
	width: calc(80vh / 8);
	aspect-ratio: 1/1;
	float: left;
	border-radius: 6px;
}
.white {
	background-color: #3a3a50;
}
.figure {
	position: absolute;
	width: calc(80vh / 8);
	aspect-ratio: 1/1;
	background-position: center;
	cursor: grab;
	transition: background-size 200ms;
	background-size: calc(80vh / 8);
	background-repeat: no-repeat;
}
.moving {
	z-index: 10;
	background-size: calc((80vh / 8) + 15%);
}
.occupied {
	position: relative;
}
.valid-move {
	position: relative;
}

.valid-move::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35%;
	height: 35%;
	background-color: rgba(96, 105, 138, 0.3);
	border-radius: 50%;
	pointer-events: none;
}

.valid-move.occupied::after {
	background-color: rgba(255, 0, 0, 0.3);
}

.starting-position {
	position: relative;
}

.starting-position::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(255, 255, 0, 0.2);
	border-radius: 6px;
	pointer-events: none;
}

.right-click-highlight {
	position: relative;
}

.right-click-highlight::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(255, 0, 0, 0.3);
	border-radius: 6px;
	pointer-events: none;
}
